.jumbotron {padding: 20px;}

textarea {
    width: 100%;
}
input {width: 100%;} 

input.phrase-timing {width: 80px!important;}
input.phrase-text {width: 60%!important;}

audio {
    width: 100%;
}

textarea {
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
    line-height: 2!important;
    background-image: linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px)!important;
    background-size: 100% 32px;
    font-family: Arial Unicode MS;
    font-size: 16px!important;
}


.word:hover{
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
  background-color: #eee;
}

.word-block {
  display: inline-block;
}

.startOfPhrase{
  border: 1px solid green;
}

.endOfPhrase{
  border: 1px solid red;
}

.middleOfPhrase{
  border: 1px solid white;
}

div.br {
    padding: 10px; 
}

.phrase-input input {
        height: 20px; 
}
.phrase-input .label {
    width: 31px!important;
}
.red {
    background-color: red; 
}

.green {
    background-color: green; 
}

.affix {
    width: 300px;
    top: 0px;
    z-index: 9999;
}

.player-block {
    /*background-color: antiquewhite;*/
    width: 300px;
}

.container {
    margin: 0;
}

.tab-content {
    
}